/* style={{paddingTop:'25px',backgroundColor:'#1a1a23',color:'white'}}  */
.footer1{
padding-top: 25px;
background-color: #1a1a23;
color: white;
}
/* style={{color:'white'}}  */
.footer2{
    color: white;
}
